
* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

div.row > div {
    float: left;
}

.row {
    width: 100%;
}

.col-container {
    width: 90%;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid black;
}

.title {
    float: right;
    background-color: #00FFFF;
    width: 100px;
    height: 30px;
    padding-top: 10px;
    margin: 0 0 10px;
    text-align: center;
    border: 1px solid black;
}

.content {
    padding-left: 10px;
    clear: right;
}

@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-mg-2 {
        width: 50%;
    }

    .col-mg-1 {
        width: 100%;
    }

    div.row > div:last-child > div.col-container {
        width: 95%;
    }
}

@media (max-width: 767px) {
    .col-sg-1 {
        width: 100%;
    }
}